body {
  width: 90vw;
  height: 100%;

  margin: 0 auto;
}

.container {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.players {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: orange;
  gap: 0.8rem;
  border-radius: 1rem;
}

.player,
.computer {
  display: flex;
  flex-direction: column;
}
h2 {
  margin-bottom: 0;
}
.remainingNum {
  padding: 0 1rem;
}

.choiceBox {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.result.resultCss {
  font-size: 2rem;
  margin-top: 0.8rem;
}

button {
  width: 100px;
  height: 40px;
  cursor: pointer;
}
.restart_btn {
  display: none;
  margin: 0 auto;
  margin-top: 2rem;
}
.hidden {
  display: none;
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 500px;
  }
}
